.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.firstImages {
  width: 50%;
  display: flex;
  justify-content: center;
}

.imageContainer {
  width: 50%;
  margin: 10px 0;
}

@media screen and (max-width: 720px) {
  .imageContainer {
    width: 90%;
  }
  .firstImages {
    width: 90%;
  }
  .container {
    padding-top: 60px;
  }
  
}
