.container {
  display: block;
  height: 100vh;
  width: 100%;
  padding-top: 100px;
  padding-left: 30px;
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
  overflow: hidden;
}

.logo {
  height: 600px;
  width: 600px;
  opacity: 0;

  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}


@media screen and (max-width: 460px) {
  .container {
    padding-top: 50px;
  }
  
  .logo {
    transform: scale(0.8);
  }

  .header.header.headerMounted {
    font-size: 2.4rem;
  }

  .address.addressMounted {
    font-size: 1.5rem;
  }

  .textContainer .order {
    margin-top: 100px;
  }
}

@media screen and (max-width: 650px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  .textContainer {
    padding: 0;
  }

  .header.headerMounted {
    padding: 0;
    font-size: 3rem;
  }

  .logo {
    height: 300px;
    width: 400px;
    margin-bottom: 0;
  }

  .order {
    justify-self: flex-end;
    opacity: 0;
    margin: 40px;
  }
}

@media screen and (max-width: 880px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  .textContainer {
    padding: 0;
    padding-left: 0;
  }

  .header.headerMounted {
    padding: 0;
    font-size: 3rem;
  }

  .logo {
    height: 300px;
    width: 400px;
    margin-bottom: 0;
  }

  .order {
    justify-self: flex-end;
    opacity: 0;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  .textContainer {
    padding: 0;
  }

  .header.headerMounted {
    padding: 0;
  }

  .logo {
    height: 300px;
    width: 400px;
    margin-bottom: 0;
  }

  .order {
    justify-self: flex-end;
    opacity: 0;
  }
}

.textContainer {
  flex-shrink: -1;
  color: #FFD197;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.header {
  /* display: inline;
  justify-self: flex-end;
  align-self: flex-start; */
  text-align: center;
  padding-top: 100px;
  font-size: 4rem;
  transform: translateX(200%);

  -webkit-transition: transform 0.4s ease-out;
  -moz-transition: transform 0.4s ease-out;
  -ms-transition: transform 0.4s ease-out;
  -o-transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
}

.address {
  text-align: center;
  font-size: 1.8rem;
  padding-top: 25px;
  transform: translateX(200%);

  -webkit-transition: transform 0.5s ease-out;
  -moz-transition: transform 0.5s ease-out;
  -ms-transition: transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  /* padding-right: 130px; */
}

.order {
  font-size: 1.8rem;
  /* margin-top: 110px; */
  margin-top: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 250px;
  border-radius: 10px;
  color: #FFD197;
  background-color: #FFD197;
  color: rgb(59, 40, 24);
  background-repeat:no-repeat;
  border: 1px solid #FFD197;
  cursor:pointer;

  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  
}

.order:hover {
  background-color: #FFD197;
  color: rgb(59, 40, 24);
}

.headerMounted, .addressMounted {
  transform: translateX(0);
}
