.container {
  width: 100%;
  height: 500px;
  background-color: #2D1306;
  border-top: 1px solid #FFD197;
  display: flex;
  justify-content: flex-end;
}

.footer {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}